<div class="app-feature-section">

    {# DESKTOP #}
    <div class="app-feature-section__desktop">
        <div class="app-feature-section__main">
            <div class="app-feature-section__stripe upper-left-stripe"></div>
            <div class="app-feature-section__stripe upper-right-stripe"></div>
            <div class="app-feature-section__content">
                    {% include "parts/feature-01.njk" %}
                    {% include "parts/feature-02.njk" %}
                    {% include "parts/feature-03.njk" %}
                    {% include "parts/feature-04.njk" %}
                    {% include "parts/feature-05.njk" %}
                    {% include "parts/feature-06.njk" %}
            </div>
            
            <div class="app-feature-section__skewed skewed-tab-1"></div>
            <div class="app-feature-section__skewed skewed-tab-2"></div>
            <div class="app-feature-section__skewed skewed-tab-3"></div>
            {# uncomment img tag with an image #}
            <div class="app-feature-section__img-part">
                <img class="app-feature-section__img feature-interractive feature-01 active" src="../images/app-features/feature-01-desk.png">
                <img class="app-feature-section__img feature-interractive feature-02" src="../images/app-features/feature-02-desk.png">
                <img class="app-feature-section__img feature-interractive feature-03" src="../images/app-features/feature-03-desk.png">
                <img class="app-feature-section__img feature-interractive feature-04" src="../images/app-features/feature-04-desk.png">
                <img class="app-feature-section__img feature-interractive feature-05" src="../images/app-features/feature-05-desk.jpg">
                <img class="app-feature-section__img feature-interractive feature-06" src="../images/app-features/feature-06-desk.png">
            </div>
            
            <div class="lower-left-stripe"></div>
        </div>

        <div class="app-feature-section__bottom">
            <div class="bottom-container" onClick="changeInterractive('feature-01')">
                <div class="bottom-border"></div><p>Simple Setup Process</p>
            </div>
            <div class="bottom-container" onClick="changeInterractive('feature-02')">
                <div class="bottom-border"></div><p>Reminders</p>
            </div>
            <div class="bottom-container" onClick="changeInterractive('feature-03')">
                <div class="bottom-border"></div><p>Notifications</p>
            </div>
            <div class="bottom-container" onClick="changeInterractive('feature-04')">
                <div class="bottom-border"></div><p>Alerts</p>
            </div>
            <div class="bottom-container" onClick="changeInterractive('feature-05')">
                <div class="bottom-border"></div><p>Weather Based Reminders</p>
            </div>
            <div class="bottom-container" onClick="changeInterractive('feature-06')">
                <div class="bottom-border"></div><p>Customizable Intelligence</p>
            </div>
            <div class="bottom-container">
                <div class="bottom-border"></div>
            </div>
        </div>
    </div>
    {# / DESKTOP #}

    {# MOBILE #}
    <div class="app-feature-section__mob">
        <div class="app-feature-section__mob-block image-block">
            {# only background image #}
        </div>
        <div class="app-feature-section__mob-block content-block">
            <div class="content-block__info-part">
                <div class="info-part__header-row">
                    <h3>App Feature</h3>
                    <img src="../images/product-shot.png" width="auto" height="84">
                </div>
                <div class="info-part__main-box">
                    <p>Set up your reminders for yourself, like...</p>

                    <p>Every day leave fresh water for the dog</p>

                    <p>Thursdays bring my softball mit to work</p>

                    <p>Take my meds before leaving home</p>
                </div>
            </div>
            <div class="content-block__navigation-part">
                <p>Swipe for more:</p>
                <div class="navigation-dot-pane">
                <div class="navigation-dot">
                    <div class="navigation-dot-inner active"></div>
                </div>
                <div class="navigation-dot">
                    <div class="navigation-dot-inner"></div>
                </div>
                <div class="navigation-dot">
                    <div class="navigation-dot-inner"></div>
                </div>
                <div class="navigation-dot">
                    <div class="navigation-dot-inner"></div>
                </div>
                <div class="navigation-dot">
                    <div class="navigation-dot-inner"></div>
                </div>
                <div class="navigation-dot">
                    <div class="navigation-dot-inner"></div>
                </div>

                </div>
            </div>
        </div>
    </div>
    {# / MOBILE #}

</div>

