<div class="app-feature-section">
    <div class="app-feature-section__main">
        <div class="app-feature-section__stripe upper-left-stripe"></div>
        <div class="app-feature-section__stripe upper-right-stripe"></div>
        <div class="app-feature-section__text">
                <h3>App Feature</h3>
                <p>Simple automated linking of Sensor to app<br><br>

                    Set up your own reminders like...<br><br>

                            Every day leave fresh water for the dog<br>
                            Thursdays bring my softball mit to work<br>
                            Take my meds before leaving home<br><br>
                            
                    Set up to be notified when...<br><br>

                            A customer enters my shop<br> 
                            A visitor enters my outer office<br><br>

                    Set up a security alert system...<br><br>

                            Let me know when someone trys my door!<br><br>

                    Set up a local weather based reminder...<br><br>
                            
                            If there is rain in the forecast bring my umbrella  <br><br>
                    
                </p>
        </div>
        
        <div class="app-feature-section__skewed skewed-tab-1"></div>
        <div class="app-feature-section__skewed skewed-tab-2"></div>
        <div class="app-feature-section__skewed skewed-tab-3"></div>
        <div class="lower-left-stripe"></div>
    </div>

    <div class="app-feature-section__bottom">
        <div class="bottom-container">
            <p>Feature</p>
        </div>
        <div class="bottom-container">
            <p>Feature</p>
        </div>
        <div class="bottom-container">
            <p>Feature</p>
        </div>
        <div class="bottom-container">
            <p>Feature</p>
        </div>
        <div class="bottom-container">
            <p>Feature</p>
        </div>
        <div class="bottom-container">
            <p>Feature</p>
        </div>

        <div class="bottom-border-section">
            <div class="bottom-border"></div>
            <div class="bottom-border"></div>
            <div class="bottom-border"></div>
            <div class="bottom-border"></div>
            <div class="bottom-border"></div>
            <div class="bottom-border"></div>
            <div class="bottom-border"></div>
        </div>
    </div>
</div>