          <h3>{{ comparison.sign }}</h3>
          <p class="comparison-p-mobile">{{ comparison.textmob }}</p>
          <p class="comparison-p">{{ comparison.text }}</p>
<div class="comparison-table comparison-table-big">
    {#  #}
  <div class="header-row">
      <div class="comparison-table__cell cell-big"><h4>{{ comparison.header.h1 }}</h4></div>
      <div class="comparison-table__cell cell-big"><h4>{{ comparison.header.h2 }}</h4></div>
      <div class="comparison-table__cell cell-big"><h4>{{ comparison.header.h31 }}<br><br>{{ comparison.header.h32 }}</h4></div>
      <div class="comparison-table__cell cell-big"><h4>{{ comparison.header.h4 }}</h4></div>
      <div class="comparison-table__cell cell-big"><h4>{{ comparison.header.h5 }}</h4></div>
      <div class="comparison-table__cell cell-big"><h4>{{ comparison.header.h6 }}</h4></div>
  </div>
  {#  #}
  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-big left-col"><svg class="left-col-icon" width="50" height="50"><use xlink:href="/images/sprite-sheet.svg#favicon" /></svg> <h4>{{ comparison.row1.s1 }}</h4></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-big"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-big"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
  </div>

  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-big left-col"><img class="left-col-icon"  src="../images/ios-default-app-icons-cal.png" height="50" width="50"> <h4>{{ comparison.row2.s1 }}</h4></div>
      <div class="comparison-table__cell cell-big"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
  </div>

  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-big left-col"><img class="left-col-icon"  src="../images/ios-default-app-icons-remi.png" height="50" width="50"> <h4>{{ comparison.row3.s1 }}</h4></div>
      <div class="comparison-table__cell cell-big"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
  </div>

  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-big left-col"><img class="left-col-icon"  src="../images/ios-default-app-icons-any.png" height="50" width="50"> <h4>{{ comparison.row4.s1 }}</h4></div>
      <div class="comparison-table__cell cell-big"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-big"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
  </div>


</div>

<div class="comparison-table comparison-table-small">
    {#  #}
  <div class="header-row">
      <div class="comparison-table__cell cell-small"><h4>{{ comparison.mob.header.h1 }}</h4></div>
      <div class="comparison-table__cell cell-small"><h4>{{ comparison.mob.header.h2 }}</h4></div>
      <div class="comparison-table__cell cell-small"><h4>{{ comparison.mob.header.h3 }}</h4></div>
      <div class="comparison-table__cell cell-small"><h4>{{ comparison.mob.header.h4 }}</h4></div>
  </div>
  {#  #}
  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-small left-col"><h4>{{ comparison.mob.row1.s1 }}</h4></div>
      <div class="comparison-table__cell cell-small"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-small"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-small"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
  </div>

  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-small left-col"><h4>{{ comparison.mob.row2.s1 }}</h4></div>
      <div class="comparison-table__cell cell-small"></div>
      <div class="comparison-table__cell cell-small"></div>
      <div class="comparison-table__cell cell-small"></div>
  </div>

  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-small left-col"><h4>{{ comparison.mob.row3.s1 }}</h4></div>
      <div class="comparison-table__cell cell-small"></div>
      <div class="comparison-table__cell cell-small"></div>
      <div class="comparison-table__cell cell-small"></div>
  </div>

  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-small left-col"><h4>{{ comparison.mob.row4.s1 }}</h4></div>
      <div class="comparison-table__cell cell-small"></div>
      <div class="comparison-table__cell cell-small"></div>
      <div class="comparison-table__cell cell-small"></div>
  </div>


</div>