          <h3>{{comparisonsign}}</h3>
          <p class="comparison-p-mobile">{{comparisontextmobile}}</p>
          <p class="comparison-p">{{comparisontext}}</p>
<div class="comparison-table comparison-table-big">
    {#  #}
  <div class="header-row">
      <div class="comparison-table__cell cell-big"><h4>APPS</h4></div>
      <div class="comparison-table__cell cell-big"><h4>date/time triggered reminders:</h4></div>
      <div class="comparison-table__cell cell-big"><h4>Location Triggered reminders:<br><br>Street level accuracy (GPS)</h4></div>
      <div class="comparison-table__cell cell-big"><h4>room level accuracy</h4></div>
      <div class="comparison-table__cell cell-big"><h4>Exit / Entrance Level Accuracy</h4></div>
      <div class="comparison-table__cell cell-big"><h4>Motion related Alerts</h4></div>
  </div>
  {#  #}
  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-big left-col"><svg class="left-col-icon" width="50" height="50"><use xlink:href="/images/sprite-sheet.svg#favicon" /></svg> <h4>ATENDIT</h4></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-big"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-big"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
  </div>

  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-big left-col"><img class="left-col-icon"  src="../images/ios-default-app-icons-cal.png" height="50" width="50"> <h4>APPLE IOS<br>CALENDAR</h4></div>
      <div class="comparison-table__cell cell-big"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
  </div>

  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-big left-col"><img class="left-col-icon"  src="../images/ios-default-app-icons-remi.png" height="50" width="50"> <h4>APPLE IOS<br>REMINDERS</h4></div>
      <div class="comparison-table__cell cell-big"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
  </div>

  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-big left-col"><img class="left-col-icon"  src="../images/ios-default-app-icons-any.png" height="50" width="50"> <h4>ANY.DO<br>APP</h4></div>
      <div class="comparison-table__cell cell-big"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-big"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
      <div class="comparison-table__cell cell-big"></div>
  </div>


</div>

<div class="comparison-table comparison-table-small">
    {#  #}
  <div class="header-row">
      <div class="comparison-table__cell cell-small"><h4>APPS</h4></div>
      <div class="comparison-table__cell cell-small"><h4>highly accurate location alerts</h4></div>
      <div class="comparison-table__cell cell-small"><h4>exit / entrance alerts</h4></div>
      <div class="comparison-table__cell cell-small"><h4>Motion  Alerts</h4></div>
  </div>
  {#  #}
  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-small left-col"><h4>ATENDIT</h4></div>
      <div class="comparison-table__cell cell-small"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-small"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
      <div class="comparison-table__cell cell-small"><svg width="40" height="40"><use xlink:href="/images/sprite-sheet.svg#check"/></svg></div>
  </div>

  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-small left-col"><h4>CALENDAR</h4></div>
      <div class="comparison-table__cell cell-small"></div>
      <div class="comparison-table__cell cell-small"></div>
      <div class="comparison-table__cell cell-small"></div>
  </div>

  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-small left-col"><h4>REMINDERS</h4></div>
      <div class="comparison-table__cell cell-small"></div>
      <div class="comparison-table__cell cell-small"></div>
      <div class="comparison-table__cell cell-small"></div>
  </div>

  <div class="comparison-table__row">
      <div class="comparison-table__cell cell-small left-col"><h4>ANY.DO</h4></div>
      <div class="comparison-table__cell cell-small"></div>
      <div class="comparison-table__cell cell-small"></div>
      <div class="comparison-table__cell cell-small"></div>
  </div>


</div>