          <h3>{{comparisonsign}}</h3>
          <p>{{comparisontext}}</p>
          <table class="comparison-table">
  <tr>
    <th>APPS</th>
    <th>date/time triggered reminders:</th>
    <th>Location Triggered reminders:

        Street level accuracy (GPS)
    </th>
   <th>room level accuracy</th>
   <th>Exit / Entrance Level Accuracy</th>
   <th>Motion related Alerts</th>
  </tr>

  <tr>
    <td><img src="../images/atendit-logo.svg"> <h4>ATENDIT</h4></td>
    <td></td>
    <td></td>
    <td><img src="../images/ellipse5.svg"></td>
    <td><img src="../images/ellipse5.svg"></td>
    <td><img src="../images/ellipse5.svg"></td>
  </tr>
  <tr>
    <td><img src="../images/apple-date-logo.svg"> <h4>APPLE DATE</h4></td>
    <td><img src="../images/ellipse5.svg"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><img src="../images/timed.svg"> <h4>TIMED</h4></td>
    <td><img src="../images/ellipse5.svg"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><img src="../images/ios-icons-any.svg"> <h4>ANY.DO</h4></td>
    <td><img src="../images/ellipse5.svg"></td>
    <td><img src="../images/ellipse5.svg"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
 
</table>