<form class="contact-form expand-form">
    <h3 class="contact-form-sign">Contact Us</h3>

    <p>First Name</p>
    <input type="text" class="form-input" name="firstname">

    <p>Your email address or phone #</p>
    <input type="text" class="form-input" name="email">


    <p>Your message to us:</p>
    <textarea id="subject" class="form-text-area" name="subject" style="height:200px"></textarea>

    <input type="submit" class="submit-button" value="Deliver Message">

    <p>We also monitor Facebook Messenger and our social DMs if that’s easier for you.</p>

  </form>
