<form class="contact-form expand-form form-invisible" name="contact-form" id="contact-form" data-netlify="true" method="POST">
    <h3 class="contact-form-sign">Contact Us</h3>

    <p>First Name</p>
    <input type="text" class="form-input" name="firstname">

    <label>Your email address or phone #</label>
    <input type="text" class="form-input" name="email">

    <p>Your message to us:</p>
    <textarea id="subject" class="form-text-area" name="subject" style="height:200px"></textarea>

    <input type="submit" class="contact-form-submit" value="Deliver Message">

    <p>We also monitor Facebook Messenger and our social DMs if that’s easier for you.</p>

</form>
