<footer>
  <div class="list-builder">
    {% include "layouts/esub-form.njk" %}
  </div>
  <div class="footer-body">
      <img class="app-store" height="80" alt="iOS App Store" src="/images/app-store-ios.png">
      <img class="app-store" height="80" alt="Soon - Google App Store" src="/images/app-store-gplay.png">

  </div>
  <div class="footer-footer">
    <div class="footer-sign-section">     
      <a href="https://www.didurememberto.com/">Did U Remember To LLC - Copyright 2020 - All Right Reserved</a>
    </div>
    <div class ="social-icons">
      <a href="https://twitter.com/AtenditLife">
        <svg width="91" height="84">
          <use xlink:href="/images/sprite-sheet.svg#twitter" />
        </svg>
      </a>
      <a href="https://www.facebook.com/AtenditLife">
        <svg width="91" height="84">
          <use xlink:href="/images/sprite-sheet.svg#facebook" />
        </svg>
      </a>
      <a href="https://instagram.com/AtenditLife">
        <svg width="91" height="84">
          <use xlink:href="/images/sprite-sheet.svg#instagram" />
        </svg>
      </a>
    </div>
  </div>

</footer>
