<footer>
  <div class="list-builder">
    {% include "layouts/esub-form.njk" %}
  </div>
  <div class="footer-body">
    <div class="app-icons">
      <img class="app-store" height="80" alt="iOS App Store" src="/images/app-store-ios.png">
      <img class="app-store" height="80" alt="Soon - Google App Store" src="/images/app-store-gplay.png">
    </div>
  </div>
  <div class="footer-footer">
    <p>Did U Remember To LLC - Copyright 2020 - All Right Reserved</p>
    <div class ="social-icons">
      <svg width="91" height="84">
        <use xlink:href="/images/sprite-sheet.svg#twitter" />
      </svg>
      <svg width="91" height="84">
        <use xlink:href="/images/sprite-sheet.svg#facebook" />
      </svg>
      <svg width="91" height="84">
        <use xlink:href="/images/sprite-sheet.svg#instagram" />
      </svg>
    </div>
  </div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161602475-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-161602475-1');
  </script>
</footer>
