<footer>

  <div class="footer-body">
      <a href="https://apps.apple.com/us/app/atendit/id1525005462">
        <img class="app-store" height="80" alt="iOS App Store" src="/images/app-store-ios.png">
      </a>
      <img class="app-store" height="80" alt="Soon - Google App Store" src="/images/app-store-gplay.png">

  </div>
  <div class="footer-footer">
    <div class="footer-sign-section">     
      <p><a href="https://www.homeserve.com/">HomeServe</a> - Copyright 2021 - All Right Reserved</p>
    </div>
    <div class ="social-icons">
      <a href="https://twitter.com/">
        <svg width="91" height="84">
          <use xlink:href="/images/sprite-sheet.svg#twitter" />
        </svg>
      </a>
      <a href="https://www.facebook.com/">
        <svg width="91" height="84">
          <use xlink:href="/images/sprite-sheet.svg#facebook" />
        </svg>
      </a>
      <a href="https://instagram.com/">
        <svg width="91" height="84">
          <use xlink:href="/images/sprite-sheet.svg#instagram" />
        </svg>
      </a>
    </div>
  </div>

</footer>
