<header>
 
  <div class="logo-lockup">
    <svg class="logo" width="110" height="26">
      <use xlink:href="/images/sprite-sheet.svg#logo" />
    </svg>
  </div>

<svg class="logo" width="110" height="26">
      <use xlink:href="/images/sprite-sheet.svg#twitter" />
</svg>
<svg class="logo" width="110" height="26">
      <use xlink:href="/images/sprite-sheet.svg#fb-m" />
</svg>
<svg class="logo" width="110" height="26">
      <use xlink:href="/images/sprite-sheet.svg#facebook" />
</svg>
<svg class="logo" width="110" height="26">
      <use xlink:href="/images/sprite-sheet.svg#social-shape" />
</svg>
<svg class="logo" width="110" height="26">
      <use xlink:href="/images/sprite-sheet.svg#sensor-shape" />
</svg>
<svg class="logo" width="110" height="26">
      <use xlink:href="/images/sprite-sheet.svg#hamburger" />
</svg>


  <p><?xml version="1.0" encoding="UTF-8"?>
<?xml version="1.0" encoding="UTF-8"?>
</header>
