<header>
  <ul class="nav">
    <li>
      <a href="/">home</a>
    </li>
    <li>
      <a href="/about">about</a>
    </li>
  </ul>
  
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
