<header class="header">
  <div class="container">
    <div class="header__body">        

      <div class="header__burger">
        <span></span>
      </div> 

      <svg class="header__logo" width="120" height="75">
        <use xlink:href="/images/sprite-sheet.svg#logo-lockup" />
      </svg> 

      <nav class="header__menu">
        <ul class="header__list">
          <li><a href="/sensor" class="header__link">Sensor</a></li>
          <li><a href="/app" class="header__link">App</a></li>
          <li><a href="/about" class="header__link">About/Contact</a></li>
          <li><a href="/help" class="header__link">Help</a></li>          
        </ul>
      </nav>

      <h4><a href="/">CART-ICONf</a></h4>

      </div>
    </div>    


  <p><?xml version="1.0" encoding="UTF-8"?>
<?xml version="1.0" encoding="UTF-8"?>
</header>
