<header class="header">
    <div class="header__body">


        <svg class="hamburger-logo header__burger" width="50" height="50"><use class="use-item" xlink:href="/images/sprite-sheet.svg#hamburger"/></svg>


        <svg class="header__logo" width="119" height="75">
          <a href="/">
            <use xlink:href="/images/sprite-sheet.svg#logo-lockup" />
          </a>
        </svg>

        <nav class="header__menu">
          <ul class="header__list">
            <li><a href="/sensor" class="header__link">Sensor</a></li>
            <li><a href="/app" class="header__link">App</a></li>
            <li><a href="/about" class="header__link">About/Contact</a></li>
            <li><a href="/help" class="header__link">Help</a></li>          
          </ul>
        </nav> 
      
      <svg class="cart-icon" width="44" height="44">
          <use xlink:href="/images/sprite-sheet.svg#cart" />
      </svg>

    </div>
 


  <p><?xml version="1.0" encoding="UTF-8"?>
<?xml version="1.0" encoding="UTF-8"?>
</header>
