<div class="tabs">
  <div id="comm-btn" class="tablink" onclick="showImg(event, 'comm-an')">Commercial</div>
  <div id="resi-btn" class="tablink" onclick="showImg(event, 'resi-an')">Residental</div>
</div>