
<div class="git-tab-section">
<div class="gif-tabs">
  <div class="gif-tablink active-gif-tab" onclick="showImg(event, 'comm-an')"><span>Residental<span></div>
  <div class="gif-tablink" onclick="showImg(event, 'resi-an')"><span>Commercial</span></div>
</div>
</div>