<div class="gif-tabs">
  <div class="gif-tablink" onclick="showImg(event, 'comm-an')"><span>Commercial<span></div>
  <div class="gif-tablink" onclick="showImg(event, 'resi-an')"><span>Residental</span></div>
</div>