{% extends "layouts/parent.njk" %}

  {% block content %}

      <div class="about-image-section upper-section">
        <div class="about-image-section__box">
          {{ content | safe }}
        </div>      
        {% include "contact-form.njk" %}
      </div> 

{% endblock %}