{% extends "layouts/parent.njk" %}

  {% block content %}

      <div class="about-image-section upper-section">
        <div class="about-image-section__box">
          {{ content | safe }}
        </div>      
        <svg class="expand-form" id="expand-form"><use xlink:href="/images/sprite-sheet.svg#speech-bubble"/></svg>  
        {% include "contact-form.njk" %}
      </div> 

{% endblock %}