<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Questrial|Roboto&display=swap" rel="stylesheet">
    <title>{{ title }} - {{ subtitle }}</title>
  </head>
  <body>
    <div class="container about-container">
      {% include "navbar.njk" %}

      <div class="about-image-section upper-section">
        <div class="about-image-section__box">
          <h2>Company Information</h2>
          <h3>About atendit & Did U Remember To LLC</h3>
          <p>atendit is the product and Did U Remember To  LLC is the product owner.  
            The Company headquarters in Stamford , Connecticut, USA</p>

          <h3>Company Background</h3>  
          <p>Did U Remember To LLC created its premier product atendit™ based on a novel idea, what if I could be reminded of something just as I was leaving home!  
          <br>
          <br>
          The idea for the Company jumped out when the co-founder, Christine, said to her father co-founder, Bob, “Ohhh, I almost forgot my….!”, just as she was leaving the house. “You know dad it would be a great idea to have a reminder on your phone just as you were leaving home.”
          <br>
          <br>
          From that exchange came a patent pending product that is a combination of a Bluetooth Low Energy beacon we call a Sensor and a mobile app for providing “event driven conditional reminders, notices and alerts”.
          </p>
        </div>        
        <img class="expand-form" id="expand-form" src="../../images/form-expand.svg">
        {% include "contact-form.njk" %}
      </div> 

      {% include "footer-extended.njk" %}
    </div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161602475-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-161602475-1');
  </script>
  
    {% set js %}
      {% include "js/core.js" %}
      {% include "js/clicks.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7537504.js"></script>
    <!-- End of HubSpot Embed Code -->

  </body>
</html>