{% extends "layouts/parent.njk" %}

  {% block content %}

      <div class="app-image-section upper-section">
        <div class="app-image-section__box">
          <div class="app-image-section__header-sign">
              <h1>{{ header }}</h1>
              <div>
              <svg class="app-image-section__img"><use xlink:href="/images/sprite-sheet.svg#app-icon"/></svg>
              </div>
          </div>
          <div class="app-image-section__text">
            <h3>{{ h3text1 }}</h3>
            <h3>{{ h3text2 }}</h3>
            <a href="https://apps.apple.com/us/app/atendit/id1525005462">
              <img class="app-store-img" src="/images/app-store-ios.png">
            </a>
          </div>   
        </div>
      </div> 
    {% include "app-feature-section.njk" %}

<div class="help-qa-section">
  <div class="help-sign-section">
    <h2>{{qasign}}</h2>
  </div>
    <div class="help-content-section">
    {%- for item in collections.qaapp -%}
      <div class="help-content-item {{ item.data.class }}">
        {{ item.templateContent | safe }}
      </div>
    {%- endfor -%}
  </div>
  </div
    
{% endblock %}