<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">  
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">  
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">  
    <link rel="apple-touch-icon" href="older-iPhone.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/iPhone-6-Plus.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/iPad-Retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/favicons/iPad-Pro.png">

    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Questrial|Roboto&display=swap" rel="stylesheet">
    <title>{{ title }} - {{ subtitle }}</title>
  </head>
  <body class="home-body" {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <div class="container">
      {% include "header.njk" %}
      <div class="main-section">
        <div class="hero">
          {{ content | safe }}
        </div>
      </div>

      {% include "footer.njk" %}
    </div>
  </body>
</html>