    <form name="email-sub" id="email-sub" data-netlify="true" method="POST">
      <h3>Subscribe to our email updates:</h3>
      <label>email address</label>
      <input required id="email" type="email" name="email" />
      <button type="submit">Add</button>
      <button class="close-me" type="button">Nevermind</button>
    </form>