    {# netlify form #}
    {# <form name="email-sub" id="email-sub" data-netlify="true" method="POST">
      <h3>Subscribe to our email updates:</h3>
      <label>email address</label>
      <input required id="email" type="email" name="email" />
      <button class="submit-btn" type="submit">Subscribe</button>
      <button class="cancel-submit-btn" type="button">Nevermind</button>
    </form> #}

    {# BEL form #}
    <form name="email-sub" id="email-sub" method="POST">
      <h3>Subscribe to our email updates:</h3>
      <label>email address</label>
      <input required id="email" type="email" name="email" />
      <button class="submit-btn" type="submit">Subscribe</button>
      <button class="cancel-submit-btn" type="button">Nevermind</button>
    </form>