<div class="footer-links">
    <div class="footer-links__col">
        <a >
        <h3>
            Our solutions
        </h3>
        </a>
        <a >
        <h3>
            Out products
        </h3>
        </a>
        <a >
        <h3>
            Help
        </h3>
        </a>
    </div>
    <div class="footer-links__col">
        <a >
        <h3>
            Our Company
        </h3>
        </a>
        <a >
        <h3>
            Inverstors
        </h3>
        </a>
        <a >
        <h3>
            Press
        </h3>
        </a>
        <a >
        <h3>
            Brand
        </h3>
        </a>
    </div>
    <div class="footer-links__col">
        <a href="/privacy-policy">
        <h3>
            Privacy Policy
        </h3>
        </a>
        <a >
        <h3>
            Terms & Conditions
        </h3>
        </a>
        <a href="/eula">
        <h3>
            End User License
        </h3>
        </a>
    </div>
</div>
