<div class="footer-links">
    <div class="footer-links__col">
        <a href="/solutions">
        <h3>
            Our solutions
        </h3>
        </a>
        <a href="/products">
        <h3>
            Out products
        </h3>
        </a>
        <a href="/faqs">
        <h3>
            FAQs
        </h3>
        </a>
        <a href="/help">
        <h3>
            Help
        </h3>
        </a>
    </div>
    <div class="footer-links__col">
        <a href="/company">
        <h3>
            Our Company
        </h3>
        </a>
        <a href="/investors">
        <h3>
            Inverstors
        </h3>
        </a>
        <a href="/press">
        <h3>
            Press
        </h3>
        </a>
        <a href="/brand">
        <h3>
            Brand
        </h3>
        </a>
    </div>
    <div class="footer-links__col">
        <a href="/privacy-policy">
        <h3>
            Privacy Policy
        </h3>
        </a>
        <a href="/eula">
        <h3>
            End User License
        </h3>
        </a>
    </div>
</div>
