<div class="footer-links">
    <div class="footer-links__col">
        <h3>
            Our solutions
        </h3>
        <h3>
            Out products
        </h3>
        <h3>
            Help
        </h3>
    </div>
    <div class="footer-links__col">
        <h3>
            Our Company
        </h3>
        <h3>
            Inverstors
        </h3>
        <h3>
            Press
        </h3>
        <h3>
            Brand
        </h3>
    </div>
    <div class="footer-links__col">
        <h3>
            Privacy Policy
        </h3>
        <h3>
            Terms & Conditions
        </h3>
        <h3>
            End User License
        </h3>
    </div>
</div>
