{% extends "layouts/parent.njk" %}

  {% block content %}
      <div class="help-image-section upper-section">
        <img class="expand-form" id="expand-form" src="../../images/form-expand.svg">
        {% include "contact-form.njk" %}

          <div class="help-qa-section">
          {%- for item in collections.qa -%}
              <div class="{{ item.data.class }}">
                {{ item.templateContent | safe }}
              </div>
            {%- endfor -%}
        </div>
      </div>  
           
{% endblock %}