{% extends "layouts/parent.njk" %}

  {% block content %}
      <div class="image-section upper-section">
          <div class="image-section__img-box box-mob" style="background: url({{ himgpath }}{{ heroupperimgmob }}); background-position: right; background-repeat: no-repeat; background-size: cover;"></div>
          <div class="image-section__img-box box-desk" style="background: url({{ himgpath }}{{ heroupperimg }}); background-position: right; background-repeat: no-repeat; background-size: cover;"></div>
   
          <div class="upper-section__sign-box">
            <h1 class="upper-section-sign">{{ head }}</h1>
            <h2 class="upper-section-sign">{{ subhead }}</h2>                 
          </div>

          <a class="amazon-link" href="{{ amazon.link }}">
                <p>{{ amazon.text }}</p>
            </a>  

      </div> 

      <div class="product-section">

        <img src="../../images/product-shot.png">

        <div class="product-section__text-box">
          
            {{ content | safe }}

        </div>        
      </div>

      <div class="comparison-table-section">
          {% include "comparison-table.njk" %}
      </div>
      
      {% include "app-feature-section.njk" %}
{% endblock %}

