{% extends "layouts/parent.njk" %}

  {% block content %}
      <div class="image-section upper-section">
          <div class="image-section__img-box box-mob" style="background: #8F7D6B url({{ himgpath }}{{ heroupperimgmob }}); background-position: bottom; background-repeat: no-repeat; background-size: contain;"></div>
          <div class="image-section__img-box box-desk" style="background: url({{ himgpath }}{{ heroupperimg }}); background-position: bottom; background-repeat: no-repeat; background-size: cover;"></div>
   
        <div class="upper-section-content">
          <div class="upper-section__sign-box">
            <div class="upper-section__sign-box-x"></div>
            <h1 class="upper-section-sign">{{ head }}</h1>
            <h2 class="upper-section-sign">{{ subhead }}</h2> 

            <a href="{{ amazon.link }}" class="amazon-link home-amazon-link">
              <p>{{ amazon.text }}</p>
            </a>
            <a href="{{ amazon.link }}" class="aoa-link">
              <svg width="240" class="aoa-icon"><use xlink:href="/images/sprite-sheet.svg#aoa"/></svg>
            </a>
          </div>
        </div>
      
      </div> 

      <div class="product-section">

        <div class="product-section__text-box">
          
            {{ content | safe }}

            <svg width="240" class="aoa-icon"><use xlink:href="/images/sprite-sheet.svg#aoa"/></svg>
            <svg width="240" class="tag-icon"><use xlink:href="/images/sprite-sheet.svg#tag"/></svg>
            <svg width="240" class="off-icon"><use xlink:href="/images/sprite-sheet.svg#off"/></svg>
            <svg width="240" class="on-icon"><use xlink:href="/images/sprite-sheet.svg#on"/></svg>
            <svg width="240" class="link-icon"><use xlink:href="/images/sprite-sheet.svg#link"/></svg>
            <svg width="240" class="help-icon"><use xlink:href="/images/sprite-sheet.svg#help"/></svg>
            <svg width="240" class="ribbon-icon"><use xlink:href="/images/sprite-sheet.svg#ribbon"/></svg>
            <svg width="240" class="umbrella-icon"><use xlink:href="/images/sprite-sheet.svg#umbrella"/></svg>
            <svg width="240" class="watch-icon"><use xlink:href="/images/sprite-sheet.svg#watch"/></svg>
            <svg width="240" class="close-icon"><use xlink:href="/images/sprite-sheet.svg#close"/></svg>
            <svg width="240" class="check-icon"><use xlink:href="/images/sprite-sheet.svg#check"/></svg>
            <svg width="240" class="bubble-icon"><use xlink:href="/images/sprite-sheet.svg#speetch-bubble"/></svg>
        </div>
      </div>
      <section class="sidebar">
        <h2>CSS Background Example</h2>
        <p>Here is example of an H3 element that has a SVG background image.</p>
        <div class="actions share">
          <h3>Email us</h3>
        </div>
      </section>
    
{% endblock %}

