<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Questrial|Roboto&display=swap" rel="stylesheet">
    <title>{{ title }} - {{ subtitle }}</title>
  </head>
  <body>
    <div class="container sensor-container">
      {% include "navbar.njk" %}  
      
      <div class="sensor-image-section upper-section">
        <div class="sensor-image-section__sign-box">
            <h1>The atendit Sensor</h1>
            <h3>A key component of the atendit system, the atendit Sensor is a Bluetooth Low Energy (BLE) beacon that is 
              custom programmed to briefly transmit information that identifies its location to your mobile phone. 
              The atendit Sensor is activated when the door it is mounted on is moved.
              </h3>

            <h3>The atractive blue atendit Sensor is lightweight and comes with a removable mounting 
              tab for easy and secure placement on your door.</h3>
        </div>        
      </div> 

      <div class="sensor-info-section">
        <div class="sensor-info-section__inner-box">
        <h2>Product Information</h2>
        <h3>Product Description</h3>
        <h2>The atendit Sensor is a high-performance, customizable Bluetooth V5.0 
          Low Energy Beacon with an accelerometer for advanced motion detection functionality. 
          This small and rugged unit comes fully encapsulated with a resin based polymer for protection 
          against dust and liquids and reliable use in harsh environmental conditions.</h2>
          <h3>Manufacturer Information</h3>
        <h2>The atendit Sensor is contract manufactured and programmed by EM Microelectronic - Marin SA. 
          Its programming has been custom tailored to match Did U Remember To LLC's specifications.</h2>
          </div>
      </div>

      {% include "footer-extended.njk" %}
    </div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161602475-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-161602475-1');
  </script>
  
    {% set js %}
      {% include "js/core.js" %}
      {% include "js/clicks.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7537504.js"></script>
    <!-- End of HubSpot Embed Code -->

  </body>
</html>