<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Questrial|Roboto&display=swap" rel="stylesheet">
    <title>{{ title }} - {{ subtitle }}</title>
  </head>
  <body>
    <div class="container sensor-container">
      {% include "navbar.njk" %}  
      
      <div class="sensor-image-section upper-section">
        <div class="sensor-image-section__sign-box">
            {{ content | safe }}
              <a class="amazon-link" href="{{ ctalink }}">
                <p>BUY NOW</p>
                <p>on Amazon</p>
            </a>
        </div>        
      </div> 

      <div class="sensor-info-section">
        <div class="sensor-info-section__inner-box">
        <h2>{{info}}</h2>
        <h3>{{desc}}</h3>
        <h2>{{proddesc}}</h2>
        <h3>{{maninfo}}</h3>
        <h2>{{maninfodesc}}</h2>
          </div>
      </div>

      <div class="sensor-dimensions-section">
        <div class="sensor-dimensions-section__col">
          <table class="sensor-dimensions-section__table">
            <tr>
              <td>{{dimension_sign}}</td>
              <td>{{weight_sign}}</td>
            </tr>
            <tr>
              <td>{{inch_dimensions}}</td>
              <td>{{ounces}}</td>
            </tr>
          </table>
        </div>
        <div class="sensor-dimensions-section__col">
          <table class="sensor-dimensions-section__table">
            <tr>
              <td>{{dimension_sign}}</td>
              <td>{{weight_sign}}</td>
            </tr>
            <tr>
              <td>{{mm_dimensions}}</td>
              <td>{{grams}}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="guarantee-section">
        <div class="guarantee-section__img-box">
          
        </div>
        <div class="guarantee-section__text-box">
          <h2>{{guaranteesign}}</h2>
          <h3>{{guaranteetext}}</h3>
          <h3 class="guarantee-bottom-text">{{guaranteebottomtext}}</h3>
        </div>
      </div>

      {% include "footer-extended.njk" %}
    </div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161602475-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-161602475-1');
  </script>
  
    {% set js %}
      {% include "js/core.js" %}
      {% include "js/clicks.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7537504.js"></script>
    <!-- End of HubSpot Embed Code -->

  </body>
</html>