<div class="feature-interractive-mob feature-content-mob feature-mob-01 active">

    <img class="feature-img-mob feature-mob-01 active" src="../images/app-features/feature-01-mob.png">

    <div class="content-block__info-part">
        <div class="info-part__header-row">
            <h3>Quick & Easy Setup</h3>
            <svg class="app-feature-section__icon" height="84"><use xlink:href="/images/sprite-sheet.svg#link"/></svg>
        </div>
        <div class="info-part__main-box">
            <p>Simple automated linking of Sensor to app</p>

            <p>Includes a test alert to easily ensure your sensor is active
            </p>
        </div>
    </div>
</div>