<div class="feature-interractive-mob feature-content-mob feature-mob-05">
                <div class="info-part__header-row">
                    <h3>Weather</h3>
                    <svg class="app-feature-section__icon" height="84"><use xlink:href="/images/sprite-sheet.svg#umbrella"/></svg>
                </div>
                <div class="info-part__main-box">
                    <p>Set up a local weather based reminder...</p>
            
                    <p>If there is rain in the forecast bring my umbrella</p> 
                </div>
            </div>