<div class="feature-interractive feature-06">
    <h2 class="app-feature-section__sign">Customize Days<br> 
    & Times</h2>

    <div class="app-feature-section__main-content">
        <div class="app-feature-section__main-content__img">
            <img src="/images/product-shot.png" width="auto" height="140">
        </div>
        <div class="app-feature-section__main-content__text">
            <p>Make atendit work when you want it to. Adjust to be active by:</p>

            <p>Day of the Week</p>

            <p>Time of day</p>

            <p>Forever or with an expiration date</p>
        </div>
    </div>
</div>