<div class="feature-interractive feature-01 active">
    <h2 class="app-feature-section__sign">dfd</h2>

    <div class="app-feature-section__main-content">
        <div class="app-feature-section__main-content__img">
            <img src="/images/product-shot.png" width="auto" height="140">
        </div>
        <div class="app-feature-section__main-content__text">
            {# to md file #}
            <p>Simple automated linking of Sensor to app</p>

            <p>Includes a test alert to easily ensure your sensor is active </p>
        </div>
    </div>
</div>