<div class="feature-interractive-mob feature-content-mob feature-mob-02">

    <img class="feature-img-mob feature-mob-02 active" src="{{imgpath + 'app-features/feature-02-mob.png'}}">

    <div class="content-block__info-part">
        <div class="info-part__header-row">
            <h3>Reminders</h3>
            <svg class="app-feature-section__icon" height="84"><use xlink:href="/images/sprite-sheet.svg#rna"/></svg>
        </div>
        <div class="info-part__main-box">
            <p>Set up your reminders for yourself, like...</p>

            <p>Every day leave fresh water for the dog</p>

            <p>Thursdays bring my softball mit to work</p>

            <p>Take my meds before leaving home</p>
        </div>
    </div>
</div>