<div class="feature-interractive feature-04">
    <h2 class="app-feature-section__sign">Alerts</h2>

    <div class="app-feature-section__main-content">
        <div class="app-feature-section__main-content__img">
            <img src="/images/product-shot.png" width="auto" height="140">
        </div>
        <div class="app-feature-section__main-content__text">
            <p>Set up a security alert system...</p>

            <p>Let me know when someone trys my door or a window!</p>

        </div>
    </div>
</div>