<div class="feature-interractive-mob feature-content-mob feature-mob-03">
                <div class="info-part__header-row">
                    <h3>Notifications</h3>
                    <img src="../images/product-shot.png" width="auto" height="84">
                </div>
                <div class="info-part__main-box">
                    <p>Get notified of the actions of others:</p>

            <p>A customer enters my shop</p>

            <p>A visitor enters my outer office</p>
                </div>
            </div>