<div class="feature-interractive feature-02">
    <h2 class="app-feature-section__sign">Reminders</h2>

    <div class="app-feature-section__main-content">
        <div class="app-feature-section__main-content__img">
            <svg class="app-feature-section__icon" width="auto" height="140"><use xlink:href="/images/sprite-sheet.svg#rna"/></svg>
        </div>
        <div class="app-feature-section__main-content__text">
            <p>Set up your reminders for yourself, like...</p>

            <p>Every day leave fresh water for the dog</p>

            <p>Thursdays bring my softball mit to work</p>

            <p>Take my meds before leaving home</p>

        </div>
    </div>
</div>