<div class="feature-interractive feature-04">
    <h2 class="app-feature-section__sign">Alerts</h2>

    <div class="app-feature-section__main-content">
        <div class="app-feature-section__main-content__img">
            <svg class="app-feature-section__icon" height="140"><use xlink:href="/images/sprite-sheet.svg#rna"/></svg>
        </div>
        <div class="app-feature-section__main-content__text">
            <p>Set up a security alert system...</p>

            <p>Let me know when someone trys my door or a window!</p>

        </div>
    </div>
</div>