<div class="feature-interractive feature-interractive-upper-part feature-05">
    <div class="app-feature-section__stripe upper-left-stripe"></div>
    <div class="app-feature-section__stripe upper-right-stripe"></div>   

    <div class="app-feature-section__main-content">
        <h2 class="app-feature-section__sign">Weather</h2>
        <div class="app-feature-section__main-content__img">
            <svg class="app-feature-section__icon" height="140"><use xlink:href="/images/sprite-sheet.svg#umbrella"/></svg>
        </div>
        <div class="app-feature-section__main-content__text">
            <p>Set up a local weather based reminder...</p>
            
            <p>If there is rain in the forecast bring my umbrella</p>  
        </div>
        <div class="lower-left-stripe"></div>
    </div>

    <div class="app-feature-section__img-part">
        <img class="app-feature-section__img" src="../images/app-features/feature-05-desk.png">       
    </div> 
</div>