<div class="feature-interractive feature-03">
    <h2 class="app-feature-section__sign">Notifications</h2>

    <div class="app-feature-section__main-content">
        <div class="app-feature-section__main-content__img">
            <svg class="app-feature-section__icon" width="auto" height="140"><use xlink:href="/images/sprite-sheet.svg#rna"/></svg>
        </div>
        <div class="app-feature-section__main-content__text">
            <p>Get notified of the actions of others:</p>

            <p>A customer enters my shop</p>

            <p>A visitor enters my outer office</p>
        </div>
    </div>
</div>