<div class="feature-interractive feature-interractive-upper-part feature-04">
    <div class="app-feature-section__stripe upper-left-stripe"></div>
    <div class="app-feature-section__stripe upper-right-stripe"></div>   

    <div class="app-feature-section__main-content">
        <h2 class="app-feature-section__sign">Alerts</h2>
        <div class="app-feature-section__main-content__img">
            <svg class="app-feature-section__icon" height="140"><use xlink:href="/images/sprite-sheet.svg#rna"/></svg>
        </div>
        <div class="app-feature-section__main-content__text">
            <p>Set up a security alert system...</p>

            <p>Let me know when someone trys my door or a window!</p>
        </div>
        <div class="right-stripe"></div>
        <div class="lower-left-stripe"></div>
    </div>

    <div class="app-feature-section__img-part">
        <img class="app-feature-section__img" src="{{imgpath + 'app-features/feature-04-desk.jpg'}}">       
    </div> 
</div>