<div class="feature-interractive-mob feature-content-mob feature-mob-03">
    <img class="feature-img-mob feature-mob-03 active" src="../images/app-features/feature-03-mob.png">
    <div class="content-block__info-part">
        <div class="info-part__header-row">
            <h3>Notifications</h3>
            <svg class="app-feature-section__icon" height="84"><use xlink:href="/images/sprite-sheet.svg#rna"/></svg>
        </div>
        <div class="info-part__main-box">
            <p>Get notified of the actions of others:</p>

            <p>A customer enters my shop</p>

            <p>A visitor enters my outer office</p>
        </div>
    </div>
</div>