<div class="feature-interractive-mob feature-content-mob feature-mob-06">
                <div class="info-part__header-row">
                    <h3>App Feature 6</h3>
                    <img src="../images/product-shot.png" width="auto" height="84">
                </div>
                <div class="info-part__main-box">
                    <p>Set up your reminders for yourself, like...</p>

                    <p>Every day leave fresh water for the dog</p>

                    <p>Thursdays bring my softball mit to work</p>

                    <p>Take my meds before leaving home</p>
                </div>
            </div>