<div class="feature-interractive-mob feature-content-mob feature-mob-05">
                <div class="info-part__header-row">
                    <h3>Weather</h3>
                    <img src="../images/product-shot.png" width="auto" height="84">
                </div>
                <div class="info-part__main-box">
                    <p>Set up a local weather based reminder...</p>
            
                    <p>If there is rain in the forecast bring my umbrella</p> 
                </div>
            </div>