<div class="feature-interractive feature-05">
    <h2 class="app-feature-section__sign">Weather</h2>

    <div class="app-feature-section__main-content">
        <div class="app-feature-section__main-content__img">
            <svg class="app-feature-section__icon" height="140"><use xlink:href="/images/sprite-sheet.svg#umbrella"/></svg>
        </div>
        <div class="app-feature-section__main-content__text">
            <p>Set up a local weather based reminder...</p>
            
            <p>If there is rain in the forecast bring my umbrella</p>    

        </div>
    </div>
</div>