<div class="feature-interractive-mob feature-content-mob feature-mob-06">
    <div class="info-part__header-row">
        <h3>Customize Days</h3>
        <svg class="app-feature-section__icon" width="auto" height="84"><use xlink:href="/images/sprite-sheet.svg#watch"/></svg>
    </div>
    <div class="info-part__main-box">
        <p>Make atendit work when you want it to. Adjust to be active by:</p>

        <p>Day of the Week</p>

        <p>Time of day</p>

        <p>Forever or with an expiration date</p>
    </div>
</div>