<h2 class="app-feature-section__sign feature-interractive feature-03">Notifications</h2>

<div class="app-feature-section__main-content">
    <div class="app-feature-section__main-content__img">
        <img src="/images/product-shot.png" width="auto" height="140">
    </div>
    <div class="app-feature-section__main-content__text">
        <p>Get notified of the actions of others:</p>

        <p>A customer enters my shop</p>

        <p>A visitor enters my outer office</p>
    </div>
</div>