<div class="feature-interractive feature-interractive-upper-part feature-01 active">
    <div class="app-feature-section__stripe upper-left-stripe"></div>
    <div class="app-feature-section__stripe upper-right-stripe"></div>   

    <div class="app-feature-section__main-content">
        <h2 class="app-feature-section__sign">Quick & Easy Setup</h2>
        <div class="app-feature-section__main-content__img">
            <svg class="app-feature-section__icon" height="140"><use xlink:href="/images/sprite-sheet.svg#link"/></svg>
        </div>
        <div class="app-feature-section__main-content__text">
            {# to md file #}
            <p>Simple automated linking of Sensor to app</p>

            <p>Includes a test alert to easily ensure your sensor is active </p>
        </div>
        <div class="right-stripe"></div>
        <div class="lower-left-stripe"></div>
    </div>

    <div class="app-feature-section__img-part">
        <img class="app-feature-section__img" src="{{imgpath + 'app-features/feature-01-desk.jpg'}}">       
    </div> 
</div>