<div class="feature-interractive-mob feature-content-mob feature-mob-04">
                <div class="info-part__header-row">
                    <h3>Alerts</h3>
                    <svg class="app-feature-section__icon" height="84"><use xlink:href="/images/sprite-sheet.svg#rna"/></svg>
                </div>
                <div class="info-part__main-box">
                    <p>Set up a security alert system...</p>

                    <p>Let me know when someone trys my door or a window!</p>
                </div>
            </div>