<div class="feature-interractive feature-interractive-upper-part feature-06">
    <div class="app-feature-section__stripe upper-left-stripe"></div>
    <div class="app-feature-section__stripe upper-right-stripe"></div>   

    <div class="app-feature-section__main-content">
        <h2 class="app-feature-section__sign">Customize Days<br> 
    & Times</h2>
        <div class="app-feature-section__main-content__img">
            <svg class="app-feature-section__icon" height="140"><use xlink:href="/images/sprite-sheet.svg#rna"/></svg>
        </div>
        <div class="app-feature-section__main-content__text">
            <p>Make atendit work when you want it to. Adjust to be active by:</p>

            <p>Day of the Week</p>

            <p>Time of day</p>

            <p>Forever or with an expiration date</p>
        </div>
        <div class="right-stripe"></div>
        <div class="lower-left-stripe"></div>
    </div>

    <div class="app-feature-section__img-part">
        <img class="app-feature-section__img" src="{{imgpath + 'app-features/feature-06-desk.jpg'}}">       
    </div> 
</div>