{# greater than the outer index multiplied by elements in a column and not greater than the outer element plus 1 multiplied by the same #}
                  {% if (loop.index > 3 * i) and (loop.index <= 3 * (i+1)) %}
                  
                    <div class="upper-section__option-box">
                      <svg class="upper-section__option">
                        <polyline points="0,20 30,0 214,0 214,72 30,72 0,52 0,20"/>
                        <circle cx="15" cy="36" r="10" fill="#165A69" />                    
                      </svg>
                      <h3>{{item}}</h3>
                    </div> 

                  {% endif %}