.app-feature-section {
    height: 540px;
    width: 100%;
    position: relative;
}

.app-feature-section__main {
    left: 100px;
    width: 800px;
    height: 540px;
    z-index: -1;
    background-color: #30ACC8;
    -ms-transform: skewX(-20deg); /* IE 9 */
    transform: skewX(-20deg);
}

.app-feature-section__bottom {
    background-color: #30ACC8;
    padding: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-container {
    width: 16.67%;
    height: 100%;
    background-color: white;
    z-index: 0;    
    position: relative;
    p {
        margin: 30px auto auto 50px;
        font-family: Roboto;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: black;
    }
}

.bottom-border-section {
    height: 120px;
    width: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.bottom-border {
    height: 100%;
    width: 20px;
    background-color: #30ACC8;
    -ms-transform: skewX(-20deg); /* IE 9 */
    transform: skewX(-20deg);
}
