.app-feature-section {
    display: none;
    width: 100%;
    position: relative;
    @media (min-width: $wide) {
        display: block;
    }
}

.app-feature-section__main {
    position: relative;
    height: 540px;
    width: 100%;    
}

.app-feature-section__img {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: -5;
    /* rotate -15deg to be added */
}

.app-feature-section__text {
    position: absolute;
    background: transparent;
    width: 30%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;    
    * {
        color: white;
    }
}

.app-feature-section__text > h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    align-self: center;
    margin-bottom: 26px;
    @media (min-width: $wide) {
        align-self: flex-start;
        margin-left: 20%;
    };
}
.app-feature-section__text > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* margin-bottom: 10px; */
    @media (min-width: $wide) {
        margin-bottom: 20px;
    };
}

.app-feature-section__indent {
    margin-left: 30px;
}

.app-feature-section__skewed {
    position: absolute;
    left: 100px;
    width: 50%;
    height: 100%;
    z-index: -1;
    -ms-transform: skewX(-15deg); /* IE 9 */
    transform: skewX(-15deg);
}

.skewed-tab-1 {
    left: 100px;
    z-index: -1;
    background-color: #30ACC8;
}
.skewed-tab-2 {
    left: 150px;
    z-index: -2;
    background-color: #228FA7;
}
.skewed-tab-3 {
    left: 200px;
    z-index: -3;
    background-color: #1A6B7D;
}

.app-feature-section__img-part {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: -5;
    overflow: hidden;
    background: #FAFAFA;
}

.app-feature-section__img {
    display: block;
    margin-top: -5%;
    height: 460px;

    @media (min-width: $wide) {
        margin-right: 25px;
    };
    -ms-transform: rotate(15deg); /* IE 9 */
    transform: rotate(15deg);
}

.app-feature-section__stripe {
    position: absolute;
    top: 0;
    height: 14px;
    width: 50%;
    z-index: -4;
}

.upper-left-stripe {
    left: 0;
    background-color: #30ACC8;
}

.upper-right-stripe {
    right: 0;
    background: linear-gradient(270deg, #30ACC8 8.34%, #1A6B7D 100%);
}

.lower-left-stripe {
    position: absolute;
    bottom: 0;
    height: 14px;
    width: 55%;
    z-index: 0;
    background-color: #228FA7;
    @media (min-width: $wide) {
        width: 53%;
      };
}

.app-feature-section__bottom {
    position: relative;
    background-color: #228FA7;
    padding: 10px;
    width: 100%;
    height: 120px;
    /* display: flex; UNCOMMENT */
    display: none;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.bottom-container {
    width: 16.67%;
    height: 100%;
    background-color: white;
    z-index: 0;    
    position: relative;
    p {
        margin: 30px auto auto 50px;
        font-family: Roboto;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: black;
    }
}

.bottom-border-section {
    height: 120px;
    width: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.bottom-border {
    height: 100%;
    width: 20px;
    background-color: #228FA7;
    -ms-transform: skewX(-15deg); /* IE 9 */
    transform: skewX(-15deg);
}
