.app-image-section {    
    background-color: #FAFAFA;
    margin-top: $first-section-margin-top;
    
    @media (min-width: $wide) {
        background: url(../../images/bg-app-desk.jpg) no-repeat;
        background-size: contain;
        background-position: right;    
        background-color: #FAFAFA;
      };
  }
  
  .app-image-section__box {
    margin-top: 184px;
    @media (min-width: $wide) {        
        margin-left: 150px;
        max-width: 50%;
        margin-bottom: 100px;
    }
    @media (max-width: $wide) {
        margin: 184px 27px 0 27px;
        /* max-width: 50%; */
    }
  }

  .app-image-section__header-sign {
      display: flex;
      justify-content: space-between;

      h1 {
          max-width: 434px;
      }

      @media (max-width: $wide) {
        flex-direction: column-reverse;
      };
  }

  .app-image-section__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $wide) {     
      flex-direction: column-reverse;

      img {
          margin-bottom: 30px;
          align-self: center;
      }
    };
  }

  
  .app-image-section__img {
    border-radius: 30px;
    width: 130px;
    height: 130px;
    padding: 0;
    display: inline-block;
  }
  
  .app-image-section h1 {
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 66px;  
  
    margin-bottom: 36px;
  
    color: #691B93;
  }
  
  .app-image-section h3 {
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
  
    margin-bottom: 36px;
  
    color: #364C1F;
  }
  
  