.expand-form {
    position: absolute;
    top: 114px;
    right: 0;
  }

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#expand-form {
  height: 249px;
  width: 82px;
  fill: #691B93;
}

#expand-form:hover, .close-form-btn:hover, .contact-form-submit:hover{
  cursor: pointer;
}
  
.contact-form {
  display: flex;
  flex-direction: column;

  background-color: white;
  padding: 11px 29px 0 23px;
  border: 6px solid #691B93;
  box-sizing: border-box;
  border-radius: 20px 0px 0px 20px;
  border-right: none;

  max-width: 440px;
  z-index: 20;
}

.contact-form h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 56px;
  color: #000000;
}

.contact-form .form-input {
  margin-bottom: 50px;
}

.contact-form .form-text-area {
  margin-bottom: 12px;
}

.contact-form .contact-form-submit {
  margin-bottom: 61px;
  width: 300px;
  height: 80px;
  align-self: center;

  background: #6BCADF;
  border: 4px solid #165A69;
  box-sizing: border-box;
  border-radius: 40px;
}

.contact-form p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.form-invisible {
  display: none;
}