.help-image-section {
    background: url(../../images/bg-help-desk.jpg);
    background-size: cover;
    padding: 140px 80px 100px;
  }
  
  .help-qa-section {
    /* background-color: white; */
    width: 100%;
    padding: 30px;    
  }
  

  .help-qa-section h2 {
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: black;
  }

  .qa-item {
    width: 30%;
    padding: 5px;
    background-color: #F5F5F5;
    border-top: 1px solid #48662A;
    border-bottom: 1px solid #48662A;
  }

  .qa-item * {
    color: #48662A;
  }

  .qa-item p:first-child {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 28px;

    margin-left: 50px;
  }

  .qa-item p:last-child {
    display: none;
  }

  .qa-item.active p:last-child {
    display: block;
  }

  .help-image-section * {
    margin-bottom: 28px;
  }

  .help-content-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .help-image-section h2 {
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 41px;
  }

  .help-image-section h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
  }

  .help-image-section p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  }
  