.help-image-section {
    background: url(../../images/bg-help-desk.jpg);
    background-size: cover;
    padding: 140px 80px 100px;
  }
  
  .help-qa-section {
    /* background-color: white; */
    padding: 30px;
  }
  
  .help-qa-section p {
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;  
  
    color: #000000;
  }

  .help-qa-section h2 {
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
  }
  
  .qa-sign * {
    color: #000000;
  }

  .help-image-section * {
    margin-bottom: 28px;
  }
  
  .help-image-section h2 {
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 41px;
  }

  .help-image-section h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
  }

  .help-image-section p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  }
  