.comparison-table-section {
    background-color: #F8FFF0;
    padding: 44px 40px 20px 40px;
}

.comparison-table-section h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
    color: #691B93;
}

.comparison-table-section p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #691B93;
}

.comparison-table {
    width: 100%;
}