.image-section {
    @media (max-width: $wide) {
        min-height: 1285px;    
    }; 
    width: 100%;   
    position: relative;
    overflow-x: hidden;
    @media (min-width: $wide) {
        min-height: 800px;     
    }; 
}

.image-section__img-box {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.box-mob {
    display: block;    
    @media (min-width: $wide) {
        display: none;       
    }; 
}
.box-desk {
    display: none;
    @media (min-width: $wide) {
        display: block;       
    }; 
}

.home-amazon-link {
    text-transform: uppercase;
    padding: 0 !important;
    position: relative;

    p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        padding: 0 !important;
    }
}

.upper-section__options-box {
    padding-left: 20px;
    display: none;
    @media (min-width: $wide) {  
        position: relative;      
        display: block;
    } 
}
.options-box-mob__option {
    max-width: 388px;
    margin: auto;
    max-height: 52px;
    overflow: hidden;
    transition-duration: 300ms;
}
.options-box-mob__option.active {
    max-height: 700px;
    transition-duration: 300ms;
}
.upper-section__options-box-mob {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    @media (min-width: $wide) {        
        display: none;
    } 
}

.options-box-mob__option-tab {
    width: 100%;
    height: 42px;
    margin: 0 auto 10px;
    background: #165A69;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.options-block {
    width: 100%;
}

.option-item {
    background-color: #E1ECEE;
    width: 100%;
    height: 42px;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 10px;
    color: #165A69;
    white-space: nowrap;
    overflow: hidden;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.options-box-mob__option-tab h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: white;
}

.options-arrow {
    border: solid  white;;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;

    position: absolute;
    left: 10px;
    margin: auto;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);  
    transition: transform 0.3s;
  }

.options-box-row {
    padding-top: 20px;
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
}

.options-box-tab {
    color: #165A69;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 183px;
    padding: 10px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    position: relative;
}

.options-box-tab.active:after {
  border-right: solid 8px transparent;
  border-left: solid 8px transparent;
  border-top: solid 8px #165A69;
  transform: translateX(-50%);
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
  transition-duration: 500ms;
}


.options-box-tab:hover {
    cursor: pointer;
}

.options-box-tab.active {
    transition-duration: 500ms;
    color: white;
    background: #165A69;
}

.options-box-col-section {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0; 
}

.options-box-col-section.active {
    opacity: 1; 
    transition-duration: 500ms;
}

.options-box-col {
    width: 214px;
    margin-right: 10px;
}
.upper-section__option-box {
    width: 100%;
    height: 72px;
    margin-bottom: 10px;
    position: relative;
}

.upper-section__option {
   position: absolute;
   top: 0;
   left:0;
}

.upper-section__option > polyline {
    fill:rgba(0, 0, 0, 0.001);
    stroke:#165A69;
    stroke-width:2;
}

.upper-section__option-box h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #165A69;
    position: absolute;
    text-align: right;
    right: 3px;
    top: 8px;
    max-width: 90%;
}


.image-section__stripe{
    position: absolute; 
    bottom: 0;
    width: 100%;
    padding: 0 10px;
}

.upper-section-content {     
    padding-top: 40px;    
    @media (min-width: $wide) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 176px;
        padding-left: 40px;
    }; 
}

.upper-section__sign-box {
    
    max-width: 422px;
    min-height: 574px;
    background: $accent-color;
    border-radius: 10px 50px 10px 10px;    
    border: 14px solid #8749A9;
    padding: 43px 5px 0 20px;    
    position: relative;
    @media (max-width: $wide) {   
        margin: 0 auto 50px;
    }
    
}
.upper-section__sign-box:after {
    content: " ";
    position: absolute; 
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 10px solid #A576BE;
    border-radius: 10px 50px 10px 10px;   
}

.upper-section-sign {
    color: white;
 }
  
  .upper-section__sign-box > h1{  
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    line-height: 41px;
    font-size: 40px;
  }
  
  .upper-section__sign-box > h2{  
    font-size: 24px;
    line-height: 36px;
  }


  /* PRODUCT SECTION */
  
  .product-section {
    background-color: #E1D1E9;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    @media (min-width: $wide) {        
        flex-direction: row;        
        padding-left: 40px;
        padding-right: 142px;
      }   
      
  }

  .product-section img {
    max-width: 100%;
    @media (min-width: $wide) {   
        align-self: flex-start;
    }
  }
  
  .product-section__text-box h2 {  
    color: #243315;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(14px, 3vw, 30px);
    line-height: 40px;
    padding: 20px;
  }
  
  /* / PRODUCT SECTION */
  

.comparison-table-section {
    background-color: #F8FFF0;
    padding: 20px;
    @media (min-width: $wide) {
        padding: 44px 40px 20px 40px;
    };    
}

.comparison-table-section h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
    color: #691B93;
}

.comparison-p {
    display: none;
    @media (min-width: $wide) {
        display: block;
    };
}

.comparison-p-mobile {
    @media (min-width: $wide) {
        display: none;
    };
}

.comparison-table-big {
    display: none;
    @media (min-width: $wide) {
        display: block;
    };
}

.comparison-table-small {
    @media (min-width: $wide) {
        display: none;
    };
}

.comparison-table-section p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #691B93;
}

.comparison-table {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.comparison-table h4 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.comparison-table__row, .header-row {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.comparison-table__cell {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    /* background: linear-gradient(90deg, rgba(101, 109, 131, 0) 51.04%, rgba(101, 109, 131, 0.5) 100%); */
    box-shadow: -5px 0 10px rgba(101, 109, 131, 0.5);
}

.cell-big {
    width: 16.67%;
    min-width: 16.67%;
    max-width: 16.67%;
}

.cell-small {
    width: 25%;
    /* min-width: 25%; */
    max-width: 25%;
}

.left-col {
    display: flex;
    justify-content: flex-start !important;
    
}

.left-col-icon {
    margin-right: 5px;
    @media (min-width: $wide) {
        margin-right: 24px;
    }
}

.header-row {
    background-color: #8749A9;
    color: white;
    height: 200px;
}

.header-row > .comparison-table__cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;
    line-height: 23px;
}

.comparison-table__cell.cell-small * {    
    font-size: clamp(12px, 3vw, 20px);    
}

.comparison-table-big .header-row {
    .comparison-table__cell:nth-child(2), .comparison-table__cell:nth-child(3) {
        justify-content: flex-start;
    }    
}

/* EVEN == ODD ?? */
.comparison-table__row:nth-child(even){
    .comparison-table__cell:nth-child(odd){
        background-color: #FFFFFF;
    }
    .comparison-table__cell:nth-child(even){
        background-color: #FAFAFA;
    }
}

.comparison-table__row:nth-child(odd){
    .comparison-table__cell:nth-child(odd){
        background-color: #EAF7FA;
    }
    .comparison-table__cell:nth-child(even){
        background-color: #D5F0F6;
    }
}

