
.sensor-image-section {
    width: 100%;   
    position: relative;
    overflow-x: hidden;
    @media (min-width: $wide) {
        padding-top: 120px;
        min-height: 800px;     
    }; 
}

.image-section__img-box {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.sensor-hero-text {
  display: none;    
  @media (min-width: $wide) {
      display: block;       
  };
}

.sensor-mob-text {
  display: block;    
  @media (min-width: $wide) {
      display: none;       
  };
}

.box-mob {
  display: block;    
  @media (min-width: $wide) {
      display: none;       
  }; 
}

.box-desk {
  display: none;
  @media (min-width: $wide) {
      display: block;       
  }; 
}  
  
  .sensor-image-section__sign-box {
    height: 600px;
    position: relative;
    @media (min-width: $wide){
      height: 100%;
      width: 100%;
      padding-top: 100px;
      padding-left: 45%;
      padding-right: 20px;
      text-align: left;
    }
  }

  .sensor-image-section__sign-box h1{
    @media (max-width: $wide){
      position: absolute;
      top: 50px;
      right: 20px;
      min-width: 60%;
      max-width: 80%;
      text-align: right; 
    };
    
    
    color: #691B93;
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 66px;
    @media (min-width: $narrow){
      font-size: 64px;
    }
   }

  .sensor-image-section__sign-box .amazon-link {    
    margin-left: 0 !important;
    @media (max-width: $wide) {
      position: absolute;
      bottom: 20px;
      left:50%;
      margin-left:-112px;
    }
  }
  
  .sensor-image-section__sign-box  h3:nth-of-type(2) {
    margin-top: 50px;
  }

  

  .sensor-content-block {
    padding: 40px;
  }
  
  .sensor-info-section {
    background-color: white;
  }
  
  .sensor-info-section__inner-box * {
    max-width: 100%;
  }
  .sensor-info-section__inner-box h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px; 
    @media (min-width: $narrow){
      font-size: 30px;
      line-height: 40px; 
    }
  
    color: #364C1F;
  }
  
  .sensor-info-section__inner-box h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    @media (min-width: $narrow){
      font-size: 24px;
    line-height: 28px;
    }
  
    color: #364C1F;
  
    margin-bottom: 21px;
  }
  
  /* .sensor-info-section__inner-box h2:first-child{
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;

    @media (min-width: $narrow){
      font-size: 40px;
    line-height: 41px;
    }
  
    margin-bottom: 28px;
  } */
  
  .sensor-info-section__inner-box h2:nth-child(2){
    margin-bottom: 26px;
  }


  .sensor-dimensions-section {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    @media (min-width: $wide){
      flex-direction: row;  
    }
  }

  .sensor-dimensions-section__col {
    @media (max-width: $wide){
      padding: 20px 0; 
      width: 100%
    }    
    @media (min-width: $wide){ 
      width: 40%
    }    
  }

  .sensor-dimensions-section__table td {
    color: #535353;
    padding: 5px;
    border: 1px solid #CFCFCF;
  }

  .sensor-dimensions-section__table > tbody > tr:not(:first-child) > td {
      border-top: none;
  }
  .sensor-dimensions-section__table > tbody > tr > td:not(:first-child) {
      border-left: none;
  }  
  .sensor-dimensions-section__table > tbody > tr > td:first-child {
      background-color: #A6A6A6;
  }  

  .guarantee-section {    
    padding: 20px;
    background-color: #F8FFF0;
    width: 100%;
    margin-bottom: 100px;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (min-width: $wide){
      flex-direction: row;
      padding: 60px;
    }
    
  }  

  .guarantee-section__text-box {   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    * {
      color: #691B93;
    }
    @media (min-width: $narrow){      
      
      height: 480px;
    }
  }

  .guarantee-section__text-box h2 {
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 41px;
    @media (max-width: $narrow){
      font-size: 28px;
    }
  }

  .guarantee-section__text-box h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    @media (max-width: $narrow){
      font-size: 18px;
    }
  }

  .guarantee-bottom-text {
    color: black;
  }

  .guarantee-section__img-box {
    /* min-width: 400px; */
    height: clamp(250px, 50vw, 480px);
    @media (min-width: $wide){ 
      width: 30%;
    }
  }

  .ribbon-icon {    
    display: block;
    margin: 0 auto;
     
      width: 100%; 
      height: 100%;

  }  
