@import '_variables.css';
@import '_syntax.css';

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

html {
  background-color: $page-color;
}

body {
  text-align: center;
  background-color: $page-color;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
  background:  $page-color;
  background: none;
  

  @media (min-width: $narrow) {
    font-size: 18px;
    background: url(/images/desktop-hero-wisteria.jpg);
    background-size: cover;
  };
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  @media (min-width: $mid) {
    width: 600px;
  };
  @media (min-width: $wide) {
    width: 100%;
  };
}

.logo {
  fill: $page-color;
  height: 75px;
  margin-top: -15px;
  padding-left: 32em;
}

h1, h2, h3 { 
  font-family: 'Questrial', sans-serif;
  color: $text-color;
  font-weight: 200;
  margin-top: 0em;
  margin-bottom: 0.2em;
  line-height: 1;
}

h1 {
  font-size: 3.0em;
  color: $contrast-color;
  margin-top: 0;
  margin-bottom: 0.2em;
  line-height: 1;

  @media (min-width: $mid) {
    font-size: 5em;
  };
  @media (min-width: $wide) {
    font-size: 6em;
  };
}

h2 {
  font-size: 2.25em;
  margin: 0.5em 0;
  padding: 0px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  line-height: 1em;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
  color: $text-color;
  padding: 0;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 5em;
}

ul, ol {
  padding-left: 1em;
}

a:link,
a:visited {
  color: $text-color;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: mix($text-color, $accent-color, 20%)
}
a:hover,
a:focus {
  color: $text-color;
  border-bottom-color: $text-color;
}

.nakedLink a:link,
.nakedLink a:visited,
.nakedLink a:hover,
.nakedLink a:focus {
  border-bottom-style:none;
}

header {
  background: $dark-color;
  width: 100%;
  height: 50px;
  margin-top: 2em;
}

.nav {

  li {
    display: inline;
    float: left;
  }

  a:link,
  a:visited {
    display: inline-block;
    border-bottom-style: none;
    padding-top: 0.8em;
    padding-bottom: 2em;
    margin-left: 0;
    margin-right: 0.7em;
    width: 9em;
    text-align: left;
    color: mix($text-color, $accent-color, 80%);
    text-decoration: none;
  }
  a:hover,
  a:focus {
      color: $text-color;
      border-top-color: $text-color;
      border-bottom-style: none;
  }

  small {
    display: block;
    font-size: 0.7em;
    color: mix($text-color,$accent-color, 60%);
  }
}


code {
  font-size: 0.8em;
  background-color: mix($text-color,$accent-color, 80%);
  color: rgb(42, 65, 77);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

main {
  margin-top: 4em;
}

pre {
  overflow: auto;
  border-radius: 6px;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.hero {
  width: 63%;
  float: left;
  border: 1px lightgray dashed;
  margin: 8px;
  padding: 8px 20px;
}

.app-store {
  content: "hi";
}

.usage-art {
  width: 90%;
  height: 90%;
  border: grey 10px solid;
}

.sidebar {
  width: 440px;
  float: left;
  padding-top: 2em;
  margin: 8px;
  display: block;

  .actions {
    border: 1px lightgray dashed;
    padding: 0 0.4em 54px 0.4em;
    margin-bottom: 10px;

    h3 {
      padding-left: 3.9em;
      margin: 1.0em 0 1.0em 0.3em;
      line-height: 1.3em;
      display: inline-block;
      height: 84px;
      background: url("/images/sprite-sheet.svg#v-instagram") no-repeat;
    }
    
    h3:first-child {
      background: url("/images/sprite-sheet.svg#v-instagram") no-repeat;
    }
    
    h3:nth-child(2) {
      background: url("/images/sprite-sheet.svg#v-instagram") no-repeat;
    }

    h3:nth-child(3) {
      background: url("/images/sprite-sheet.svg#v-instagram") no-repeat;
    }

    h3:last-child {
      background: url("/images/sprite-sheet.svg#v-instagram") no-repeat;
    }
  }  
}

footer {
  clear: both;
  height: 400px;
  background: white;

  a:link,
  a:visited {
    color: mix($text-color, $accent-color, 90%);
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }
  a:hover,
  a:focus {
    color: $text-color;
    border-bottom: solid 1px $text-color;
  }
}
