@import '_variables.css';

* {
  margin: 0;
  padding: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

button {
  background: $tap-bg-color;
  border: 4px solid $tap-fg-color;
  height: 50px;
  width: 185px;
  border-radius: 40px;
  color: $tap-fg-color;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
}

html {
  background-color: $page-color;
}

body {
  text-align: center;
  background-color: $page-color;
  font-family: 'Roboto', sans-serif;
  /* font-weight: 300; */
  line-height: 1.8;
  min-height: 100vh;
  background: none;

  @media (min-width: $wide) {
    font-size: 18px;    
    background-size: cover;
  };
}


.main-section{
  height: 1440px;
  width: 100%;

  @media (min-width: $wide) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  };
}

.container {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  @media (min-width: $wide) {
    width: 100%;
  };

  @media (min-width: $wide) {
    width: 100%;
  };
}

h1, h2, h3 { 
  font-family: 'Questrial', sans-serif;
  color: $text-color;
  font-weight: 200;

  @media (min-width: $wide) {
    font-weight: 200;
    margin-top: 0em;
    margin-bottom: 0.2em;
    line-height: 1;
  }
}

h1 { 
  color: $contrast-color;
  margin-top: 0;
  margin-bottom: 0.2em;
  line-height: 1;
  font-size: 40px;
  @media (min-width: $wide) {
    font-size: 96px;/* max font-size */
  }
}


h2 {
  font-size: 30px;/*calculated font-size*/
  margin: 0.5em 0;
  padding: 0px;
  @media (min-width: $wide) {
    font-size: 48px;/* max font-size */
  }
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;/*calculated font-size*/

  @media (min-width: $wide) {
    font-size: 36px;/* max font-size */
    line-height: 42px;
  }
}

p {
  color: $text-color;
  font-size: 18px;
  line-height: 1.2em;
  padding-bottom: 0.4em;

  /* @media (min-width: $wide) {
    font-size: 36px;
    line-height: 1.4em;
    padding: 0;
    margin-bottom: 1em;
  } */
}

.subtitle {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 5em;
}

ul, ol {
  padding-left: 1em;
}

a:link,
a:visited {
  color: $text-color;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: mix($text-color, $accent-color, 20%)
}
a:hover,
a:focus {
  color: $text-color;
  border-bottom-color: $text-color;
}

.nakedLink a:link,
.nakedLink a:visited,
.nakedLink a:hover,
.nakedLink a:focus {
  border-bottom-style: none;
}

.header {
  background: $page-color;  
  position: sticky;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 50;
  @media (min-width: $wide) {
    margin: 46px 0 0 0;    
  } 
}


.header__body {
  height: 100%;
  width: 100%;
  
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
   
  padding: 0 20px;

  @media (min-width: $wide) {
    padding: 0 80px;
    background: #D9D9D9;
  }
}

.header__logo {
  /* flex: 0 0 60px; */
  position: relative;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
  display: block; /*if rounded*/
}
.hamburger-logo {
  fill: #691B93 !important;
}
.header__burger {
  display: none;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger.active span {
  transform: scale(0);
}
.header__menu {
  flex-grow: 1;
  max-width: $container-width;
}

.header__list {  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @media (min-width: $wide) {
    flex-direction: row;
    justify-content: space-around;
    position: relative;        
  }
}
.header__list li {
  list-style: none;    
}
.header__link {
  color: #0D363F !important;
  font-size: 24px;
  text-decoration: none;
  border-bottom: none !important;  
}

@media (max-width: $wide) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }
  
  .header__burger {
    display: block;
    position: relative;
    z-index: 3;
  }
  .cart__logo {
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    z-index: 2;
    overflow: auto;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    background-color: #18b5a4;
    padding: 70px 0 0 0;
  }

  .header__menu.active {
    top: 0;
  }

  .content-section {
    padding: 70px 0 0 0;
  }

}



.logo-lockup {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */

  @media (min-width: $wide) {
    background: $dark-color;
  }
}

.logo {
    /* margin: 0 auto;
    @media (min-width: $wide) {
      margin: 0;
    } */
}



.nav {

  li {
    display: inline;
    float: left;
  }

  a:link,
  a:visited {
    display: inline-block;
    border-bottom-style: none;
    padding-top: 0.8em;
    padding-bottom: 2em;
    margin-left: 0;
    margin-right: 0.7em;
    width: 9em;
    text-align: left;
    color: mix($text-color, $accent-color, 80%);
    text-decoration: none;
  }
  a:hover,
  a:focus {
      color: $text-color;
      border-top-color: $text-color;
      border-bottom-style: none;
  }

  small {
    display: block;
    font-size: 0.7em;
    color: mix($text-color,$accent-color, 60%);
  }
}

code {
  font-size: 0.8em;
  background-color: mix($text-color,$accent-color, 80%);
  color: rgb(42, 65, 77);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

main {
  margin-top: 4em;
}

pre {
  overflow: auto;
  border-radius: 6px;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

label { 
  display: none;
}


input {
  border: 2px $read-fg-color solid;
  font-size: 24px;
  padding: 12px;
}

.hero {
  flex: 1;
  background-color: #eee;
  padding: 0 0.5em;
  /* height: 1772px; */ /*no gif on design*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @media (min-width: $wide) {
    background-color: transparent;    
    float: left;
    border: 1px lightgray dashed;    
    padding: 8px 20px;
  }

  @media (min-width: $wide) {
    margin: 0 20px 0 0;
  }
}

.app-store {
  content: "hi";
}

.usage-art {
  width: 100%;
  height: 100%;
  border: none;

  @media (min-width: $wide) {
    width: 90%;
    height: 90%;
    border: grey 10px solid;
  }
}

.sidebar {
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $wide){    
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  
  @media (min-width: $wide) {  
    width: 440px;
    float: left;
    margin: 8px;
    display: block;    
  }
}

/* obsolete */
.sidebar > .actions {
  flex: 0 1 100%;
  padding: 0 10px;
  a {
    border-bottom: none;
  }

  p {
    font-size: calc(18px + 6 * $screen-var);
  }
  
  h3 {
    font-size: calc(24px + 12 * $screen-var)
  }

  h3 {
    background: url("/images/sprite-sheet.svg#v-email") no-repeat;
    background-size: 60px 60px !important;
    line-height: 42px;  
    padding-left: 104px;
    height: 70px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  h3:first-of-type {
    background: url("/images/sprite-sheet.svg#v-email") no-repeat;
    cursor: pointer;
  }

  h3:nth-of-type(2) {
    background: url("/images/sprite-sheet.svg#v-linkedin") no-repeat;
  }

  h3:nth-of-type(3) {
    background: url("/images/sprite-sheet.svg#v-twitter") no-repeat;
  }

  h3:last-child {
    background: url("/images/sprite-sheet.svg#v-facebook") no-repeat;
  }

  .share h3:last-child {
    background: url("/images/sprite-sheet.svg#v-fb-m") no-repeat;
  }

  @media (min-width: $wide) {
    flex: 0 1 50%;
    padding: 0 10px;
    p {
      margin-bottom: 30px;
    }
    /* h3 {
      height: 70px;
      margin-bottom: 20px;
    } */
  }

  @media (min-width: $wide){
      width: 100%;
      border: 1px lightgray dashed;
      margin-bottom: 10px;

      p {
        padding-bottom: 0;
        font-size: 24px;
      }  
      h3 {
        padding-right: 20px;    
        padding-left: 104px;    
        background-size: 90px 83px !important;
        height: 90px;
        margin-bottom: 50px;
        line-height: 42px;
        width: 100%;
        font-size: 36px;
      }
  }
}

.email-modal {
  position: absolute;
  top: 300px;
  right: 300px;
  width: 334px;
  background: $page-color;
  border: 4px solid $accent-color;
  box-shadow: 2px 1px 2px #999;
  padding: 30px;
  border-radius: 16px;
  display: none;

  input {
    width: 12.4em;
  }

  .cancel-submit-btn {
    width: 11px;
    float: left;
    background: transparent;
    border: none;
    color: darkgrey;
    text-decoration: underline;
  }
}

.app-store-hero{
  margin-top: 85px;  
  display: none; /*temp*/
  @media (min-width: $wide) {
    display: block;
  }
}

.footer-body .app-store {
  max-width: 100%;
}

/* switch gif tabs */

.tab-img{
  display: none;
  max-width: 100%;
}

.tab-img:first-child{
  display: block;
}

.git-tab-section{
  
  width: 100%;
  max-width: 100%;
  padding: 10px 0;
  margin-top: 20px;
  @media (min-width: $wide) {
    margin-top: 229px;
  }
}
.gif-tab-col{
  display: flex;
  justify-content: flex-start;
  flex: 0 1 50%;
}
.gif-tablink{
  width: 324px;
  height: 73px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 22px;
  max-width: 50%;
}

.gif-tablink > span{
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;  
  font-size: calc(24px + 24 * $screen-var);
  line-height: 49px;
  @media (min-width: $wide){
    font-size: 48px !important;
  }
}

.active-gif-tab{
  background:linear-gradient(-315deg, #C4C4C4, #C4C4C4 82%, white 82%, white);
}

/* / switch gif tabs */

/* footer */

footer {
  margin-top: auto;
  background: white;
  height: 400px;
  width: 100%;

  @media (min-width: $wide){
    padding: 0;
    height: 100px;
  } 
}

.list-builder {
  background: #E9FFD2;    
  padding: 15px 10px;
  width: 100%;  
  height: 265px;
  @media (min-width: $wide){
    padding: 0;
    height: 100px;
  }  
}

.cancel-submit-btn {
  display: none;
  clear: both;
}

.footer-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 200px;    
    @media (min-width: $wide) {
      flex-direction: row;
    }
    @media (min-width: $wide) {

    }
}


.footer-footer {
  background-color: $accent-color;  
  width: 100%;
  max-width: 100%;
  padding: 0 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  :first-child { order: 2; }
  :last-child { order: 1; }

  @media (min-width: $wide) {
    height: 100px;
    :first-child { order: 1; }
    :last-child { order: 2; }
    flex-direction: row;
  }
}

.footer-sign-section > p {
  color: $page-color;
  padding-top: 0.5em;
  padding-left: 0.5em;
  font-size: calc(16px + 8 * $screen-var);
  text-align: center;
  line-height: 1.8em;

  @media (min-width: $wide) {
    font-size: 24px;
  }
}

.footer-footer > .footer-sign{
  max-width: 100%;
}

.footer-footer > .social-icons {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 20px 0;

  @media (min-width: $wide) {
    padding: 0;
  }
  a {
    max-width: 100%;
    border-bottom: none;
    svg{
      max-width: 100%;
    }
  }
}

.footer-links{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  flex-direction: column;
  @media (min-width: $wide) {
    flex-direction: row;
    padding: 0 142px;
  }

}
.footer-links__col{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 50px;
  
}

.footer-links__col * {
  color: black;  
}
.footer-links__col > a {
  border-bottom: none;
  margin-bottom: 51px;
}
/* form */
#email-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;      
  padding: 0;
  input {
    width: 100%;
  }
  h3 {
    text-align: center;
  }
  @media (min-width: $wide){
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    h3 {
      word-wrap: nowrap;
      text-align: right;
    }
    input{
      height: 49px;
      width: 435px;
      margin: 25px;
    }   
    button {
      height: 49px;
      width: 185px;
    }      
  }
}

/* / form */
/* / footer */

/*  */


.logo-lockup-extended > a {
  color: black;
  border-bottom: none;
}
/*  */

.amazon-link {
  background-color: #6BCADF;
  width: 300px;
  max-width: 100%;
  height: 80px;
  
  border: 4px solid #165A69;
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 37px; */
  
  @media (min-width: $wide) {
    margin-top: 37px;
    margin-bottom: 97px;
  };
  p {
    margin: 0;
    font-size: clamp(12px, 6vw, 24px);
    font-weight: 700;
    color: #165A69;
  }
  @media (max-width: $narrow){
    margin: 0 auto;
  }
}


.upper-section {  
  @media (min-width: $wide) {
    margin-top: $first-section-margin-top; 
};     
  background-size: cover;
}

@import '_contact-form.css';
@import '_home.css';
@import '_sensor.css';
@import '_app.css';
@import '_app-feature-section.css';
@import '_faq.css';
@import '_legacy-info.css';
@import '_about.css';

